body {
    background-color: antiquewhite;
}
#di {
    text-align: -webkit-center;
}
#de {
    border-radius: 10px;
    background-color:#2ecc71;
    border: none;
    width: 100px;
    height: 50px;
    color: #82589F;
    position: absolute;
    top: 50px;
    left:50%;
    

}
#de:focus {
    background: rgba(56, 185, 80, 50%)
}